* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #959494;
}

.wrapper {
    margin: 200px;
}

.block {
    margin: 10px;
    display: grid;
    grid-template-columns: 25px 1fr;
}

.column__element {
    margin-left: 10px;
}

.contribution_graph {
    width: 1120px;
    height: 279px;
    margin: auto;
}

.month__line {
    display: flex;
    justify-content: space-evenly;
}

.week__column {
    display: flex;
    flex-direction: column;
}

.calendar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 117px;
}

.day__name {
    padding-bottom: 15px;
}

.day__box {
    height: 15px;
    width: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #EDEDED;
}



.exp__blocks {}