* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #959494;
}

.wrapper {
    margin: 200px;
}

.block {
    margin: 10px;
    display: grid;
    grid-template-columns: 25px 1fr;
}

.column__element {
    margin-left: 10px;
}

.contribution_graph {
    width: 1120px;
    height: 279px;
    margin: auto;
}

.month__line {
    display: flex;
    justify-content: space-evenly;
}

.week__column {
    display: flex;
    flex-direction: column;
}

.calendar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 125px;
}

.day__name {
    padding-bottom: 15px;
}

.day__box {
    position: relative;
    height: 15px;
    width: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #EDEDED;
    margin: 1px;
}

.day__box:hover {
    border: 1px solid #000;
}

.show__succes {
    z-index: 2;
    position: absolute;
    background: #000;
    width: 145px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 17px;
    border-radius: 5px 5px 5px 0px;
}

.show__succes p {
    color: #fff;
}

.today {
    border: 1px solid rgb(88, 36, 36)d5d;
}

.exp__blocks {
    min-width: none;
    display: flex;
}

.exp__box {
    width: 15px;
    height: 15px;
}

.exp__title {
    margin: 0px 10px;
}

.zero {
    position: relative;
    background: #EDEDED;
}

.zero__con {
    position: absolute;
}

.nine {
    position: relative;
    background: #ACD5F2;
}

.nine__con {
    position: absolute;
}

.nineteen {
    position: relative;
    background: #7FA8C9;
}

.nineteen__con {
    position: absolute;
}

.twenty__nine {
    position: relative;
    background: #527BA0;
}

.twenty__nine__con {
    position: absolute;
}

.thirty {
    position: relative;
    background: #254E77;
}

.thirty__con {
    position: absolute;
}

.con {
    background: #000;
    width: 145px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 17px;
    border-radius: 5px 5px 5px 0px;
}

.con p {
    color: #fff;
}